In [15]:

import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
movies = pd.read_csv('../dataset/movies_metadata.csv',encoding='latin-1',low_memory=False)
movies = movies[['id','title','overview']]
movies.head(10)
len(movies)

45442

In [13]:
movies = movies.drop_duplicates()
movies['overview']= movies['overview'].fillna(' ')
movies = movies.dropna()
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45252 entries, 0 to 45441
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45252 non-null  object
 1   title     45252 non-null  object
 2   overview  45252 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

In [14]:
len(movies)

45252

In [16]:
#tf-idf 계산
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['overview'])

In [19]:
cosine_sim = cosine_similarity(tfidf_matrix,tfidf_matrix)
cosine_sim = pd.DataFrame(cosine_sim,index=movies.index,columns=movies.index)

In [20]:
cosine_sim

,0,1,2,3,4,5,6,7,8,9,...,45432,45433,45434,45435,45436,45437,45438,45439,45440,45441
0,1.000000,0.015001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.005976,0.000000
1,0.015001,1.000000,0.046989,0.000000,0.000000,0.050316,0.000000,0.102813,0.000000,0.007266,...,0.0,0.0,0.0,0.011340,0.0,0.000000,0.066826,0.0,0.022046,0.009408
2,0.000000,0.046989,1.000000,0.000000,0.025095,0.000000,0.006453,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.014089,0.000000
3,0.000000,0.000000,0.000000,1.000000,0.000000,0.007268,0.009026,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.021532,0.0,0.026653,0.000000,0.0,0.009559,0.016499
4,0.000000,0.000000,0.025095,0.000000,1.000000,0.000000,0.000000,0.032917,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.007045,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45437,0.000000,0.000000,0.000000,0.026653,0.000000,0.025621,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.000000,0.000000
45438,0.000000,0.066826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050165,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,1.000000,0.0,0.000000,0.000000
45439,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.038169,0.000000,0.000000,...,0.0,0.0,0.0,0.031223,0.0,0.000000,0.000000,1.0,0.000000,0.000000
45440,0.005976,0.022046,0.014089,0.009559,0.007045,0.000000,0.005286,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,1.000000,0.000000
45441,0.000000,0.009408,0.000000,0.016499,0.000000,0.000000,0.000000,0.000000,0.000000,0.014736,...,0.0,0.0,0.0,0.031213,0.0,0.000000,0.000000,0.0,0.000000,1.000000

In [21]:
indices = pd.Series(movies.index,index = movies['title'])

In [26]:
def contet_recommender(title,n_of_recomm):
    idx = indices[title]
    sim_scores = cosine_sim[idx]
    sim_scores = sim_scores.sort_values(ascending=False)[1:n_of_recomm+1]
    return movies.loc[sim_scores.index]['title']

In [27]:
print(contet_recommender('The Lion King',5))

34664    How the Lion Cub and the Turtle Sang a Song
9339                               The Lion King 1Â½
9101                  The Lion King 2: Simba's Pride
42806                                           Prey
25637                                 Fearless Fagan
Name: title, dtype: object

In [25]:
print(contet_recommender('Trhe Dark Knight Rises',10))

12468                                      The Dark Knight
149                                         Batman Forever
1321                                        Batman Returns
15497                           Batman: Under the Red Hood
584                                                 Batman
21179    Batman Unmasked: The Psychology of the Dark Kn...
9216                    Batman Beyond: Return of the Joker
18021                                     Batman: Year One
19778              Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object